                     /*         HEADER          */

body {
    color: white;
    background-color: #373737;
}

#navigation a:hover {
    
    background-color: rgba(102, 204, 255, 0.15);
}

#navigation a:active {
    color: #66ccff !important;
}

#navigation a:visited {    
    color: white;
}

