                     /*         HEADER          */

#navigation a:hover {
    color: rgba(102, 204, 255, 0.25);
}

#navigation a:active {
    color: #006699 !important;
}

#navigation a:visited {    
    color: black;
}

