                     /*         HEADER          */

body {
    color: white;
    background-color: #373737;
}

header {      
    border-bottom: 1px solid #66ccff;
}

#navigation a:hover {
    color: #66ccff !important;
}

#navigation a:active {
    color: #006699 !important;
}

#navigation a:visited {    
    color: white;
}

